<html>
    <head>
        <title>WebRadio</title>
        <script src='/static/node_modules/socket.io/client-dist/socket.io.js'></script>
        <script src='/static/node_modules/jquery/dist/jquery.js'></script>
        <script src='/static/spectrum.js'></script>
        <script src='/static/controls.js'></script>
        <script src='/static/pcm-player.js'></script>
        <script src='/static/digit-box.js'></script>
        <script src='/static/power-monitor.js'></script>
        <script src='/static/meters.js'></script>
        <link rel='stylesheet' href='/static/css/dev.css'>
        <link rel='shortcut icon' href='#'>
        <script type='text/javascript'>
            const myRadio = '{{myRadio}}';
            const socket = io();
            function apply(co) {
                socket.emit('apply',co);
            }  
            function setCenterFreq(fr) {
                let co = new ChangeOrder();
                co.radio.centerFreq = fr;
                apply(co);
            }
            function setTunerFreq(fr) {
                let co = new ChangeOrder();
                co.radio.tunerFreq = fr;
                apply(co);
            }
            // I'm set once on the claim event
            var hardware;
            window.onbeforeunload = function()
            {
                soket.emit('disconnect');
            };
            function fm(freq)
            {
                let co = new ChangeOrder();
                co.radio.tunerFreq = freq * 1000000;
                co.radio.centerFreq = (freq - 0.1) * 1000000;
                co.radio.modem_type = 'FMS';
                apply(co);
            }
        </script>
    </head>
    <body>
        <h1 align='center' id='banner'>WebRadio</h1>
        <h2 align='center' id='hardware-key'></h2>
        <nav>
            <canvas id='rf-power' class='meter'></canvas> 
            <canvas id='s-meter' class='meter'></canvas>
            <div id='box1' class='preset-button-box'></div>
            <div id='box2' class='preset-button-box'></div>
        </nav>
        <div id='main-display'>
            <div class='button-box'>
                <button type='button' class='modem-select'>AM</button>
                <button type='button' class='modem-select'>NBFM</button>
                <button type='button' class='modem-select'>WBFM</button>
                <button type='button' class='modem-select'>FMS</button>
                <button type='button' class='modem-select'>LSB</button>
                <button type='button' class='modem-select'>USB</button>
                <button type='button' class='modem-select'>CW</button>
            </div>
            <div class='spectrum-display'>
                <canvas id='spectrum'></canvas>
                <table id='display-settings' class='option-table'></table>
                <table id='radio-setup' class='option-table'></table>
                <!-- Put the option-overlays here on top of the overlay -->
                <div id='rescale-min' class='active-area'></div>
                <div id='upper-right' class='active-area'></div>
                <div id='center-top' class='active-area'></div>
                <div id='upper-left' class='active-area'></div>
            </div>
        </div>
        <p>
        <section class='control-box'>
            <button type='button' id='tuner-lock' class='control-button'>T</button>
            <div class='digit-box' id='tunerfreq'></div>
            <button id='mute' type='button' class='control-button'>M</button>
            <button id='right-pan' type='button' class='control-button'>&lt</button>
            <div class='digit-box' id='frequency-step'></div>
            <button id='left-pan' type='button' class='control-button'>&gt</button>
        </section>
        <script type='text/javascript'>
            const spectrumDisplay = new SpectrumDisplay('spectrum');
            var displaySettings = new OptionTable('display-settings');
            // Spectrum Display Control
            displaySettings.addOptions('FFT Length',[512,1024,2048,4096],function(op,val)
            {
                let co = new ChangeOrder();
                co.spectrum.length = val;
                apply(co);
            }, stat => stat.spectrum.length);
            displaySettings.addOptions('Scale',[-10,-20,-30,-40,-50],function(op,val)
            {
                spectrumDisplay.ymax = val;
                spectrumDisplay.updateBackground();
                op.innerHTML = val;
            },stat => spectrumDisplay.ymax);
            displaySettings.addOptions('Crop',['on','off'],function(op,val)
            {
                spectrumDisplay.crop = (val === 'on');
                op.innerHTML = val;
            }, stat => (spectrumDisplay.crop) ? 'on' : 'off');
            displaySettings.addOptions('Zoom',[1,2,3,4,5,6,7,8,9,10],function(op,val)
            {
                let co = new ChangeOrder();
                co.spectrum.decimation = val;
                apply(co);
            }, stat => stat.spectrum.decimation);
            displaySettings.addOptions('Freq Tic',[100000,50000,25000,20000,10000],function(op,val)
            {
                spectrumDisplay.xtic = val;
                spectrumDisplay.updateBackground();
                op.innerHTML = val;
            }, stat => spectrumDisplay.xtic);
            displaySettings.addOptions('dBm Tic',[5,10,15,20,25,30],function(op,val)
            {
                spectrumDisplay.ytic = val;
                spectrumDisplay.updateBackground();
                op.innerHTML = val;
            }, stat => spectrumDisplay.ytic);
            displaySettings.addOptions('Frame Rate',[40,50,60,70,80,90,100],function(op,val)
            {
                let co = new ChangeOrder();
                co.radio.frameRate = val;
                apply(co);
            }, stat => stat.radio.frameRate);
            $('#upper-right').on('click',function()
            {
                $('#radio-setup').toggle();
            });
            $('#upper-left').on('click',function()
            {
                $('#display-settings').toggle();
            });
            // Tuner Lock Button
            const states = [
                {
                    'text'  : 'T',
                    'style' : {'color':'white','backgroundColor':'#4B0082'},
                    'action': () => { spectrumDisplay.cursorColor='red'; apply(new ChangeOrder()); }
                },
                {
                    'text'  : 'C',
                    'style' : {'color':'white','backgroundColor':'#8D38C9'},
                    'action': () => { spectrumDisplay.cursorColor='lightgreen'; apply(new ChangeOrder()); }
                }
            ];
            const tunerLock = new ToggleButton('tuner-lock',states);
            // Band Select Boxes
            function setBandMarker(fs,fe)
            {
                spectrumDisplay.bandStart = fs;
                spectrumDisplay.bandEnd = fe;
            }
            const presetBox1 = new PresetButtons('box1',12,HamBands,setBandMarker);
            const presetBox2 = new PresetButtons('box2',12,FMStationPresets);
            const powerMeter = new PeakPowerMonitor('rf-power','s-meter');
            // Tuner or Cursor control spin box
            const tunerControl = new DigitBox('tunerfreq',10);
            tunerControl.onchange(tunerLock.select(
            [
                value => setTunerFreq(value),
                value => setCenterFreq(value)
            ]));
            // Frequency Step Control
            const freqStep = new DigitBox('frequency-step',7);
            freqStep.onchange(function(value)
            {
                freqStep.setValue(value);
            });
            $('#left-pan').on('click',tunerLock.select(
            [
                () => setTunerFreq(tunerControl.getValue()+freqStep.getValue()),
                () => setCenterFreq(tunerControl.getValue()+freqStep.getValue())
            ]));
            $('#right-pan').on('click',tunerLock.select(
            [
                () => setTunerFreq(tunerControl.getValue()-freqStep.getValue()),
                () => setCenterFreq(tunerControl.getValue()-freqStep.getValue())
            ]));
            const audioOut = new PCMPlayer();
            // Spectrum UI 
            $('#spectrum').on('click',() => setTunerFreq(1000*Math.floor(spectrumDisplay.cursorFreq()/1000)));
            // Modem Button
            $('.modem-select').click(function()
            {
                for (let n = 0; n < $('.modem-select').length; n++)
                    $('.modem-select')[n].style.backgroundColor = 'white';
                this.style.backgroundColor = 'yellow';
                let co = new ChangeOrder();
                co.radio.modem_type = this.innerHTML;
                socket.emit('apply',co);
            });
            function updateModem(stat)
            {
                $('.modem-select').each(function()
                {
                    if (this.innerHTML === stat.modem.modem_type)
                        this.style.backgroundColor = 'yellow';
                    else
                        this.style.backgroundColor = 'white';
                });
            } 
            // Mute Button
            const muteStates = [
                {'text':'M','style':{'background':'red'}},
                {'text':'P','style':{'background':'lightgreen'}}
            ];
            const muteButton = new ToggleButton('mute',muteStates);
            // Update UI status after change order
            const updateTunerControl = tunerLock.select([
                (stat) => tunerControl.setValue(stat.radio.tunerFreq),
                (stat) => tunerControl.setValue(stat.radio.centerFreq)
            ]);
            const radioSettings = new OptionTable('radio-setup');
            function statusUpdate(stat)
            {
                spectrumDisplay.updateBackground();
                console.log(stat);
                updateTunerControl(stat);
                updateModem(stat);
                presetBox1.updateStatus(stat);
                presetBox2.updateStatus(stat);
                displaySettings.monitorStatus(stat);
                radioSettings.monitorStatus(stat);
            }
            // Trigger a rescale minimum dB on next data event 
            $('#rescale-min').on('click',function()
            {
                spectrumDisplay.rescaleMin();
            });
            // respond to statusUpdates
            socket.on('status',stat => statusUpdate(stat));
            // Process all dynamic UI effects
            function processData(radio,spectrum,audioPCM)
            {
                radio.spectrum.data = new Float32Array(spectrum);
                radio.modem.pcm = new Float32Array(audioPCM);
                powerMeter.process(radio);
                if (muteButton.text() === 'P' && !powerMeter.meter.isSquelched)
                    audioOut.play(radio);
                spectrumDisplay.plot(radio);
            }
            socket.on('data',(radio,spectrum,audio) => processData(radio,spectrum,audio));
            // Claim radio selected
            function onClaim(stat) 
            {
                $('#hardware-key')[0].innerHTML = stat.hardware.key+'@'+document.location.hostname;
                // deal with rsp2 and rspduo differences. A gain
                // sel of '0' is the default which is kinda hot
                // for the rsp2.
                if (stat.hardware.key === 'RSP2') {
                    let co = new ChangeOrder();
                    co.radio.settings.rfgain_sel = '4';
                    apply(co);
                }
                hardware = stat.hardware;
                if (hardware.antennas.length > 1) {
                    radioSettings.addOptions('RF Input',hardware.antennas,function(op,val)
                    {
                        let co = new ChangeOrder();
                        co.radio.antenna = val;
                        apply(co)
                    }, stat => stat.radio.antenna);
                }
                radioSettings.addOptions('Sample Rate',hardware.sampleRates,function(op,val)
                {
                    let co = new ChangeOrder();
                    co.radio.sampleRate = val;
                    apply(co);
                }, stat => stat.radio.sampleRate); 
                if (hardware.bandwidths.length > 1) {
                    // SDRPlay allows the radio bandwidth to be set independently of
                    // the radio sample rate. I suggest just letting SoapySDRPlay3 set
                    // it to a sensible value.
                    radioSettings.addOptions('Bandwidth',hardware.bandwidths,function(op,val)
                    {
                        let co = new ChangeOrder();
                        co.radio.bandwidth = val;
                        apply(co);
                    }, stat => stat.radio.bandwidth);
                }
                radioSettings.addSettings(stat.radio.settings);
            }
            $(document).ready(function() {
                socket.emit('claim',myRadio,audioOut.audio_sr,onClaim);
                // Start with something pleasent 
                let co = new ChangeOrder();
                co.radio.centerFreq = 7150000;
                co.radio.modem_type = 'LSB';
                socket.emit('apply',co);
            });
        </script>
    </body>
</html>
